{{> header}}
<div id="nav" class="bg-transparent border-bottom">
<nav class="navbar bg-transparent container">
    <div class="container-fluid">
        <a class="navbar-brand logo">FileFormatConverter</a>
        <div class="d-flex links">
            <a class="nav-link me-4" aria-current="page" href="#">Docs</a>
            <a class="nav-link" href="/">Home</a>
        </div>
    </div>
</nav>
</div>


// this will be a form //
<div class="container position-absolute top-50 start-50 translate-middle form-floating mb-3">
    <div class="mb-3 container">
  <label for="formGroupExampleInput" class="form-label fs-5 tokenLable">Secrete Token Key: </label>
  <input type="text" class="form-control p-2 fs-3 tokenInput" id="formGroupExampleInput" placeholder="Token Key">
  <label for="formGroupExampleInput" class="form-label fs-5 tokenLable">email: </label>
  <input type="text" class="form-control p-2 fs-3 tokenInput" id="formGroupExampleInput" placeholder="email">
  <label for="formGroupExampleInput" class="form-label fs-5 tokenLable">name: </label>
  <input type="text" class="form-control p-2 fs-3 tokenInput" id="formGroupExampleInput" placeholder="full name">
</div>
  <a href="/"><button type="button" class="btn btn-primary btn-lg py-3 start-btn">register</button></a>
</div>
{{> foot}}
